<div class="w-full flex flex-col">
  <app-route-back-header title="Post"></app-route-back-header>
  <div>
    @if (parent) {
      <app-tweet [tweet]="parent!"></app-tweet>
    }
    @if (loading && !parent) {
      <app-post-skeleton></app-post-skeleton>
    }

  </div>
  <div>
    <app-post
      placeholder="Deine Antwort posten"
      postButtonLabel="Antworten"
      [parentPost]="parent"
      (posted)="onCommented()"
    ></app-post>
  </div>
  <div>
    @for (comment of comments; track comment) {
      <app-tweet [tweet]="comment!"></app-tweet>
    }
    @if (loading) {
      <div class="w-full flex justify-center items-center">
        <p-progress-spinner ariaLabel="loading" strokeWidth="8" animationDuration=".5s" class="mt-4"
                            [style]="{width: '50px', height: '50px', stroke: 'blue'}"/>
      </div>
    }
  </div>
  @if (parent && comments && +parent.countComments > comments.length) {
    <div class="flex justify-center items-center cursor-pointer p-2" (click)="loadMore()" (keydown.enter)="loadMore()">
      <span class="text-blue-500">Mehr laden</span>
    </div>
  }
</div>
