<div class="w-full flex flex-row border-b border-gray-300 border-opacity-20 p-2">
  <div class="pt-2 mr-3 h-full">
    <p-avatar icon="pi pi-user" shape="circle" size="large" />
  </div>
  <div class="flex flex-col w-full pt-2">
    <div>
      <textarea rows="1" fluid="true" class="text-xl" pTextarea [autoResize]="true" placeholder="Was gibt's Neues?!"></textarea>
    </div>
    <div class="flex flex-row justify-between items-center border-t border-gray-300 border-opacity-20 pt-2 pb-2">
      <div class="flex flex-row gap-4">
        <i class="pi pi-image text-xl text-blue-500"></i>
        <i class="pi pi-video text-xl text-blue-500"></i>
        <i class="pi pi-list text-xl text-blue-500"></i>
        <i class="pi pi-face-smile text-xl text-blue-500"></i>
        <i class="pi pi-calendar-clock text-xl text-blue-500"></i>
        <i class="pi pi-map-marker text-xl text-blue-500"></i>
      </div>
      <div>
        <p-button rounded label="Posten"></p-button>
      </div>
    </div>
  </div>
</div>
