<div class="flex flex-col xl:w-72 min-h-screen max-w-72">
  <div class="w-fit hover:bg-neutral-800 rounded-full p-2" tabindex="0"
       (keydown.enter)="notYetImplementedToast()"
       (click)="notYetImplementedToast()"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
    </svg>
  </div>
  <div class="flex flex-col">
    @for (item of menuItems; track item) {
      <app-menu-item
        (keydown.enter)="notYetImplementedToast()"
        (click)="notYetImplementedToast()"
        [title]=item.title [iconClass]=item.iconClass
        [routeToPath]="item.routeToPath"
      />
    }
  </div>
  <div class="mt-2 max-w-60">
    <p-button disabled="true" label="Posten" fluid="true" rounded="true" class="hidden xl:block"/>
    <p-button disabled="true" icon="pi pi-pencil" size="large" rounded="true" class="xl:hidden"/>
  </div>
  <div class="m-auto"></div>
  <div>
    <app-menu-user-card/>
  </div>
</div>


