<div class=" hidden max-w-96 md:flex flex-col min-h-screen p-2 gap-4">
  <div class="w-full flex flex-row items-center">
    <input pInputText type="text" size="large" placeholder="Suchen" fluid="true" class="rounded-3xl"/>
  </div>
  <div class="w-full flex flex-col border border-gray-500 border-opacity-25 rounded-3xl p-4">
    <span class="text-xl">Premium abonnieren</span>
    <span class="text-sm">Hol dir ein Abonnement, wenn du Elon Musk noch reicher machen möchtest! Wir müssen Elon ganz viel Geld geben, sodass er noch mehr Demokratien auf dieser Welt unterwandern kann!</span>
    <p-button label="Abonnieren" class="mt-4" severity="help" disabled="true" rounded="true"/>
  </div>
  <div class="w-full flex flex-col gap-4 border border-gray-500 border-opacity-25 rounded-3xl p-4">
    <div>
      <span class="text-xl">Wem folgen?</span>
    </div>
    <div class="flex flex-col gap-4">
      <app-follow-user username="GregoryPeck"></app-follow-user>
      <app-follow-user username="ElonMusk"></app-follow-user>
      <app-follow-user username="21Savage"></app-follow-user>
    </div>
  </div>
</div>
