<div class="min-w-full">
  <div>
    <p-tabs value="0" class="">
      <p-tablist class="flex sticky top-0 opacity-90">
        <p-tab value="0" class="flex-1 flex justify-center">Für dich</p-tab>
        <p-tab value="1" class="flex-1 flex justify-center">Folge ich</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <app-post></app-post>
          @if (loading) {
            <div class="w-full flex justify-center items-center">
            <p-progress-spinner ariaLabel="loading" strokeWidth="8" animationDuration=".5s" class="mt-4" [style]="{width: '50px', height: '50px', stroke: 'blue'}" />
            </div>
          }
          <p-toast position="bottom-center" preventOpenDuplicates="true"/>
          @for (tweet of tweets; track tweet.id) {
            <app-tweet [tweet]=tweet></app-tweet>
          }
        </p-tabpanel>
        <p-tabpanel value="1">
          <p-message severity="info" icon="pi pi-info-circle" styleClass="mb-2">Dieser Bereich ist noch nicht
            implementiert!
          </p-message>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
